@model CRUDProduto.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Produto</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qualidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qualidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PontuacaoProduto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PontuacaoProduto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> 
  
</div>
